body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #fffff0; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

.footer {
  background-color: #222;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-text {
  text-align: center;
  padding: 11px;
  color: #bbb;
}

#dropdown-basic {
  /* display: flex; */
  /* text-align: right; */
  float: right;
}

.smaller-text {
  font-size: 14px;
}

.project-date {
  float: right;
}

.line {
  padding: 40px;
}

.project-card {
  margin: 10px 20px;
}

.comment {
  padding: 10px;
  padding-left: 20px;
}

.comment-container {
  padding: 40px;
}

.comment-card {
  border-radius: 6px;
  margin-bottom: 5px;
}

.button {
  margin: 10px 0px;
}

.blockquote {
  font-size: medium;
}

.like-comment-badges {
  float: right;
}

.collaborator-list {
  list-style: none;
}

.user-title {
  font-size: 16px;
}

.project-detail {
  padding: 50px 0px 50px 0px;
}

.mb-2 {
  font-size: 15px;
}

.nav-routes {
  text-decoration: none;
  color: whitesmoke;
  /* padding-left: 2px; */
}

/* .error-box {
  border: 1px solid red;
} */

li {
  list-style: none;
}
