body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #fffff0; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 11px;
}

.footer {
  background-color: #222;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-text {
  text-align: center;
  padding: 11px;
  color: #bbb;
}

/* nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgba(0, 0, 0, 0.836);
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
} */

.nav-routes {
  text-decoration: none;
  color: whitesmoke;
  /* padding-left: 2px; */
}
